doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title An app to log in with Google
        link(rel='stylesheet', href='../index.css', type='text/css')
body
    h3(display="inline-block",width="600",text-align="center") Welcome to GOOGLE, please go to log in page
    .logo
        img(
    src='http://www.google.com/logos/doodles/2015/googles-new-logo-5078286822539264.3-hp2x.gif'
    alt='google'
    )
    .button-wrapper(text-align="center",margin="0 auto")
        a(href='/auth/google') go to the login page
